
.loader-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Landing Page CSS*/

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dropdown-container {
  margin: 10px 0px;
  align-items: start;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 2%;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #092038f5;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.3s ease; 
  left: 0;
  top: 100%;
  
}

.dropdown:hover .dropdown-content {
  opacity: 1; 
  pointer-events: auto;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #2982e2;
  scale: 1.3;
}



.name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  gap: 20px;
}
.name h2 {
  color: white;
  text-align: center;
  font-size: 3em;
}

@media (max-width: 500px) {
  .name{
    flex-direction:column;
    text-align: center;
    padding-top: 12vh;
  }
}
.name h4 {
  color: white;
  font-size: 1.4em;
  margin-top: 3vh;
}
.front-box p{
  color: white;
  font-size: 1.7em;
}
.front-box{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 8vh;
}
.tech{
  color: white;
  font-size: 2em;
}
.lucide-chevron-right-square {
  transition: fill 0.3s, stroke 0.3s; 
  cursor: pointer;
}
.lucide-chevron-right-square:hover {
  transform: scale(1.2);
}
.lucide-chevron-left-square {
  transition: fill 0.3s, stroke 0.3s; 
  cursor: pointer;
}
.lucide-chevron-left-square:hover {
  transform: scale(1.2);
}
/*About component css*/
.about-heading{
  color: white;
  text-align: center;
  font-size: 2.8rem;
}
.Skills{
  color: white;
  display: flex;
  padding: 2em;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box; 
  flex-wrap: wrap;
}
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Card {
  margin-bottom: 2em;
}

@media (max-width: 777px) {
  .Card {
    width: 80%;
  }
}
.Navigate{
  text-align: center;
  margin-top: 1em;
}
.projects{
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  gap: 2em;
  flex-wrap: wrap;
}

.tech-svg{
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .skills-card {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }

  .skills-card {
    width: 100%; 
  }
}
@media (max-width: 450px) {
  .Skills{
    width: 100%;
    flex-direction:column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 777px) {
  .projects{
    flex-direction: column;
    align-items: center;
    row-gap: 0.7em;
    flex-wrap: wrap;
  }
  .projects .Card {
    margin-bottom: 1.5em; 
  }
  .about-heading{
    align-items: center;
  }
}
.github{
  display: flex;
  justify-content:center;
}
/*Skill component css*/

.coding-platform svg:hover{
  transform: scale(1.3);
}
/*Contact component css*/
.contact-details {
  min-height: 70vh;
  width: 50vw;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  display: flex;
  margin: 2em; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-heading{
  text-align: center;
  display: flex;
  justify-content: center;
}

.input-field form{
  width: 35vw;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.input-box {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  color: white;
}
.name-box {
  width: 100%;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.1);
  height: 7vh;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  color: white;
}
.send-button {
  background-color: #007bff;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  max-height: 2.6em;
  display: flex;
  align-items: center;
}
.send-button:hover {
  opacity: 0.7;
}
.send-request{
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 10px;
}
@media (max-width: 768px) {
  .contact-details {
    width: 70%; 
    justify-content: center;
  }
  
}
@media (max-width: 440px){
  .coding-platform{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .contact-details {
    margin-top: 5em;
    width: 90%; 
    align-items: center;
  }
}

@media (max-width: 800px) {
  .name-box,
  .input-box {
    width: 70vw; 
  }
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 2em;
}

.footerText {
  color: white;
  margin: 1em; 
}





